
/* Font Declaration */
@font-face {
  font-family: 'Munro';
  src: url('../fonts/Munro-2LYe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}   

/* Standard Overrides */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #836183;
  font-family: 'Munro', sans-serif;
  color:#836183;
  overflow-x: hidden;
  touch-action: manipulation;
    
}

a{
  color:#f1ebcf;
}

a:hover{
  color: #f1ebcf;
}

a:visited{
  color:#f1ebcf;
}

p{
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 35px;
  text-align: center;
}

figure {
  margin: 0;
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}



/* Containers */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.wrapper {
  transform: scale(0.7);  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 90vh;
  padding: 20px 0;
  box-sizing: border-box;
}

.img{
  max-width:65%;
}

.message{
  padding:20px;
  font-size:18px;
  text-align:center;
  letter-spacing: 1px;
  line-height: 80px;
  margin-bottom:0;

}


/* Fade in animation */

.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}

.fade-in-faster {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}

/* Fade out animation */

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
  
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {

  .wrapper {
    transform: scale(0.7);
    max-height: 50vh;
  }

}

@media screen and (max-width: 1200px) {

  .wrapper {
    transform: scale(0.6);
    max-height: 50vh;
  }

}

@media screen and (max-width: 900px) {


}

@media screen and (min-width: 700px) {

  .mobile-show{
    display: none;      
  }

}

@media screen and (max-width: 700px) {

  .mobile-show{
    display: block;      
  }
   
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    height: auto;
  }
          
  .centered-img{
    margin-top:0px;
  }

  p{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
    text-align: center;
  }

  .main-content {
    width: 100%;
  }

  .wrapper{
    transform: scale(0.7);
    max-height: 70vh;
  }

  .mobile-hide{
    display:none;
  }
}
  
